﻿<div class="view">
    <div class="container">

         <div class="well well-sm">
        <strong>Products</strong>

    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail rounded">
                <img class="group list-group-image" src="Content/Images/cornerstone_ondemand_cloud-300x168.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        </h4>
                    <p class="group inner list-group-item-text">
                        Product description. Product description  Product description  Product description  Product description.
                         Product description  Product description  Product description  Product description  Product description                    </p>
                         <div>
                             Your Rating :  <uib-rating ng-model="rate" max="max" read-only="isReadonly" aria-labelledby="default-rating"></uib-rating>
                        </div>
                     <div class="row">
                         <div>&nbsp</div>
                        <div class="col-xs-12 col-md-6">
                                <a href="#/ScoreCard/2">Click Paths & Score Card <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-12 col-md-6 text-left">
                             <a href="#/EventScheduler">Schedules <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
             <div class="thumbnail rounded">
                <img class="group list-group-image" src="Content/Images/sumtotal_prdListing.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        </h4>
                  <p class="group inner list-group-item-text">
                        Product description. Product description  Product description  Product description  Product description.
                         Product description  Product description  Product description  Product description  Product description                    </p>
                         <div>
                             Your Rating :  <uib-rating ng-model="rate" max="max" read-only="isReadonly" aria-labelledby="default-rating"></uib-rating>
                        </div>
                     <div class="row">
                         <div>&nbsp</div>
                        <div class="col-xs-12 col-md-6">
                                <a href="#/ScoreCard/3">Click Paths & Score Card <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-12 col-md-6 text-left">
                             <a href="#/EventScheduler">Schedules <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
             <div class="thumbnail rounded">
                <img class="group list-group-image" src="Content/Images/saba_prdListing.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        </h4>
                   <p class="group inner list-group-item-text">
                        Product description. Product description  Product description  Product description  Product description.
                         Product description  Product description  Product description  Product description  Product description                    </p>
                         <div>
                             Your Rating :  <uib-rating ng-model="rate" max="max" read-only="isReadonly" aria-labelledby="default-rating"></uib-rating>
                        </div>
                     <div class="row">
                         <div>&nbsp</div>
                        <div class="col-xs-12 col-md-6">
                                <a href="#/ScoreCard/1">Click Paths & Score Card <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-12 col-md-6 text-left">
                             <a href="#/EventScheduler">Schedules <i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

       <div class="well well-sm">
        <strong>Key Contacts</strong>
       </div>   

        <div class="item well-s">
            <div class="thumbnail rounded">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        </h4>
                    <p class="group inner list-group-item-text">
                                       </p>
                    <div class="row" ng-controller="ProductListingController" >
                       
                       <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle"
                     src="Content/Images/gupta.png" width="90%"
                     alt="Gupta Wijeratne">
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>Gupta Wijeratne</strong><br>
                <span class="text-muted">Technology National Manager DFA</span>
            </div>
            
        </div>
        
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle img-responsive" width="90%"
                     src="Content/Images/412089.jpg" alt="Katherine Kokenes">
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>Katherine Kokenes</strong><br>
                <span class="text-muted">NextGenLMS Project Manager DFA</span>
            </div>
            
        </div>
        
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle img-responsive"  width="90%"
                     src="Content/Images/114798.jpg" alt="Christine Xu" >
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>Christine Xu</strong><br>
                <span class="text-muted">Manager DFA</span>
            </div>
           
        </div>
       
    </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>


