<div class="view">
    <div class="container">

         <div class="container-fluid " ng-app="prodApp" ng-controller="ProductsController">
		<div class="row">		
			<iframe class="col-sm-9 col-sm-push-3 contentAreaStyle" ng-src="{{url}}"></iframe>
			
			<!-- sidebar area start -->
			<div sticky offset="45" class="col-sm-3 col-sm-pull-9 sidebarStyle hidden-xs">
				<div class="text-xs-center text-sm-left ">			
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_Use_Cases.pdf')"><span class="glyphicon glyphicon-off"></span>   Use Case</a></li>

						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase1.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 1: Search and Create Class/Course</a></li>
						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase2.pdf')"><span class="glyphicon glyphicon-user"></span>  Use Case 2: Registration & Enrollment</a></li>
						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase3.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 3: Assignment</a></li>
                        <li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase4.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 4: Demand List</a></li>
						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase5.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 5: Segmentation (Personalization / Classification)</a></li>
						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase6.pdf')" ><span class="glyphicon glyphicon-user"></span> Use Case 6: Certification</a></li>
                        <li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase7.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 7: Standard & Ad hoc Reporting</a></li>
						<li><a href="" ng-click="$event.preventDefault();changeIt('Content/PDF/LMS_UseCase8.pdf')" ><span class="glyphicon glyphicon-user"></span>  Use Case 8: Notification</a></li>
					</ul>					
				</div>
			</div>
		</div>
    </div>

        

    </div>
    
</div>


