﻿<!DOCTYPE html>
<html>
<head>
    <title>LMS Scorecard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/animations.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
	<link href="Content/calendar-tpls.css" rel="stylesheet" />
    <link href="Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />   
</head>
<body data-ng-cloak  class="view login-background">
    <div id="header_logo" class="navbar navbarnavbar-fixed-top hide" role="navigation">	
	    <div class="navbar-header">
            <div class="navbar-header"><a class="navbar-brand" href="#"> <img src="Content/images/NGLMS_fin.png" alt="logo"></a></div>
	    </div>
      <i  class="fa fa-user fa-2x navbar-right top-buffer" aria-hidden="true"> <span class="headerUserText" id="loggedUserName"></span></i>
    </div>
    <div id="header_menu" class="navbar navbar-inner hide" data-ng-controller="NavbarController as vm" role="navigation">	
		<ul class="nav nav-pills navBarPadding">
            <li data-ng-click="$event.preventDefault();vm.redirectProductListing();" ><button type="button" class="btn btn-primary">Products</button></li>
            <li data-ng-click="$event.preventDefault();vm.eventScheduler();" ><button type="button" class="btn btn-primary">Event Scheduler</button></li>
		    <li data-ng-click="$event.preventDefault();vm.redirectUseCase();" ><button type="button" class="btn btn-primary">Use Cases</button></li>
            <!--<li data-ng-click="$event.preventDefault();vm.scoreCard();" ><button type="button" class="btn btn-primary">Score Card</button></li>
            <li data-ng-click="$event.preventDefault();vm.redirectContactPage();" ><button type="button" class="btn btn-primary">Contact Us</button></li>-->
            <li id="nav-login" class="navbar-right" data-ng-click="vm.loginOrOut()"><button type="button" class="btn btn-primary"><i class="fa fa-fw fa-power-off fa-lg" aria-hidden="true"></i></button>
            </li>
            <li id="nav-question" class="navbar-right"><button type="button" class="btn btn-primary"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></button>
            </li>
		</ul>
    </div>

    <div class="slide-animation-container">
        <div data-ng-view id="ng-view" class="slide-animation"></div>
    </div>
    
    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="col-md-12 rightfooterlogo rightfooterlogofont">
                              Copyright © 2017 Toyota Motor Sales, USA, Inc. All Rights Reserved. 
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div data-wc-overlay data-wc-overlay-delay="300">
        <br /><img src="Content/images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- 3rd party libraries -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui-bootstrap.js"></script>
    <script src="Scripts/tweenMax.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="app/wc.directives/directives/wcOverlay.js"></script>
    <script src="app/wc.directives/directives/menuHighlighter.js"></script>

    <script src="Scripts/breeze.min.js"></script>
    <script src="Scripts/breeze.angular.js"></script>

    <!-- Load custom scripts via RequireJS -->
    <script src="Scripts/require.js" data-main="Scripts/main"></script>
    <script src="Scripts/ui-bootstrap-tpls-1.3.2.js" data-main="Scripts/main"></script>
</body>
</html>