﻿<div class="view">
    <div class="container">
        <header>
            <h3 style="padding-bottom:10px;text-align:-webkit-center">
                <img src="Content/images/cornerstone2.png" alt="logo">
                <span style="padding-left:20px;">
                    <img src="Content/images/netdimensions-learning-logo1.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/sumtotal1.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/SAP_Successfactor2.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/sabasabasupport-logo1.png" alt="logo">
                </span>

               <!-- <img src="Content/images/NGLMS_medium.png" alt="logo">-->

            </h3>
        </header>

        <!--<div class="login">
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                       
                        <input type="text" name="userame" class="form-control" data-ng-model="vm.username" required />
                        
                            <span class="errorMessage"  ng-show="loginForm.userame.$touched && loginForm.userame.$invalid">
                                Username is required
                            </span>

                        </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Password:
                    </div>
                    <div class="col-md-10">
                        <input type="password" name="password" class="form-control"
                               data-ng-model="vm.password"
                               data-ng-minlength="6"
                               required />
                        <span class="errorMessage" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                            Password is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"
                                data-ng-click="vm.login()"
                                ng-disabled="loginForm.$invalid || !loginForm.$dirty">
                            Login
                        </button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>-->

               

        <div  class="login row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Login</strong>

                </div>
                <div class="panel-body" ng-controller="LoginController">
                    <form name="loginForm" class="form-horizontal" role="form" ng-submit="submitForm(loginForm)">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required="">
                            </div>
                        </div>
                        
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" >Sign in</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">&nbsp;
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

