﻿<div class="view">
    <div class="container">
        <header>
            <h3 style="border-bottom: solid 1px #00d0ff;padding-bottom:10px;text-align:-webkit-center">
                <img src="Content/images/cornerstone2.png" alt="logo">
                <span style="padding-left:20px;">
                    <img src="Content/images/netdimensions-learning-logo1.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/sumtotal1.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/SAP_Successfactor2.png" alt="logo">
                </span>
                <span style="padding-left:20px;">
                    <img src="Content/images/sabasabasupport-logo1.png" alt="logo">
                </span>

</h3>
        </header>
        <br />
        <div class="container">
            <p>
                Welcome to Plano, Texas for a week of in depth LMS Vendor Demonstrations.
            </p>
            <p>
                Thank you all for your input, collaboration and commitment to the NextGen LMS Initiative. We
                have asked you to do a lot of heavy lifting and you have risen to the challenge. 9 Vendors,
                multiple use cases, requirements validation and feedback sessions - just to name a few. Our goal
                is to choose the best possible solution for TMNA Learning Management System and we are well
                on our way.
            </p>
            <p>
                This week we ask for your active participants as each VEndor demonstrates how their solution
                best aligns to our use cases and business needs. Evaluate each through the lens of your
                customers and stakeholders to see if these systems align with their expected user experiences.
            </p>
            <p>
            Score sheets are part of each session. Your feedback is essential and will help inform the next
            step in this process. Of course there will be give and take but we are confident that together, we
            will identify the best Enterprise Learning Management System solution for TMNA.
            </p>
            <p>
                Once the final vendors are identified, you will be given the oppournity to test drive each LMS
                solution based on your business needs and user expectations. Then contract negotiations based
                on your feedback will begin to identity selection of the final candidate.
            </p>
            <p>
                You are our customer and your feedback is key to the success of this initiatie. We value your
                commitment to this process and thank you again for your support.
            </p>
            <p>
                Have a great week and let our team know if you have any questions.
            </p>

            <p style="font-family:Berlin Sans FB Demi; font-weight:bold">
                Your NextGen LMS Team
            </p>
        </div>
    </div>
</div>


