﻿    <link href="Content/angular-material.min.css" rel="stylesheet" />


<style>

    #container {
    width:100%;
    height:100%;    
}
    #subcontainer {
display:table;
 width:100%;
 height:100%;
}

#sidebar {
    width:2%;
    background-color:#717477;
    color:white;
 display:table-cell;
}
    .logo {
        text-align:center;
        border-left:-8em;
        border-right:-8em;
    }
    #pagecontainer {
    width:98%;
  display:table-cell;
    background-color:#FFFFFF;
  color:black;}

.cardHeight{
    height:150px !important;
}

textarea {
    resize: none;
}

md-card.borderradius{
    border-radius:10px;
}
md-card-title.borderradius{
    border-radius:10px 10px 0 0;
}
md-card-title.bgColor {
       background-color:#7BA8BC;
    }

.btnSize{
    width:0px !important;
    height:0px !important;
    line-height:0px !important;
}

</style>
<div class="view indent">
    <div class="container">
        <header>

<h3><span class="glyphicon glyphicon-user"></span> Score card</h3>

        </header>
        <div ng-controller="modalPopupCtrl" ng-cloak="" class="sliderdemoBasicUsage" ng-app="MyApp">
           <!-- <md-button class="md-primary md-raised" ng-click="showAlert($event)">
                Alert Dialog
            </md-button>
            <md-button class="md-primary md-raised" ng-click="showCustom($event)">
                Custom Dialog
            </md-button>
            <md-content class="md-padding" layout="column">
               

                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-open="demo.isOpen" md-direction="down" ng-class="demo.selectedMode">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn btnSize">
                                <md-icon md-svg-src="md-menu.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
                            </md-button>
                            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>

               

            </md-content>-->
        </div>

                </div>
                <div class="container">
                    <div class="row show-hide-animation" data-ng-hide="">
                        <div class="col-md-4" data-ng-class="" data-ng-repeat="question in vm.questionlist | orderBy:'id'">
                            <md-content class="md-padding" layout-xs="column" layout="row">
                                <div flex-xs="" flex-gt-xs="50" layout="column">
                                    <md-card class="borderradius">                                        
                                        <md-card-title class="borderradius bgColor">
                                            <md-card-title-text>
                                                <div ng-controller="modalPopupCtrl" ng-cloak="">
                                                    <span class="md-subhead" style="padding-left:5px;">{{question.name}}</span>

                                                    <md-icon md-svg-src="md-menu.svg" ng-click="showCustom($event,question)"></md-icon>
                                                </div>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <!--<md-card-actions layout="row" layout-align="start center">-->
                                                <div ng-controller="RatingDemoCtrl">
                                                    <uib-rating style="color:#FFA500" ng-model="question.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                                                                titles="['Does not meet expectations at all','Meets very few expectations/requirements','Meets very few expectations/requirements',
                                                                'Meets very few expectations/requirements','Meets partial expectations','Meets partial expectations',
                                                                'Meets partial expectations','Meets most of the expectations/requirements','Meets most of the expectations/requirements','Meets all expectations/requirements']" 
                                                                aria-labelledby="default-rating"></uib-rating>
                                                    <span class="label" ng-class="{'label-warning': question.rating<3, 'label-info': question.rating>=3 && question.rating<7, 'label-success': question.rating>=7}"
                                                          ng-show="overStar">{{overStar || "none"}}</span>

                                                    <!--<pre style="margin:15px 0;">Rate: <b>{{rate}}</b> </pre>-->

                                                </div>
                                              

                                                <!--<div ng-controller="modalPopupCtrl" class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
             <md-content style="margin: 16px; padding:16px">
                 <div layout="">
                     <div flex="10" layout="" layout-align="center center">
                     </div>
                     <md-slider flex="" md-discrete="" ng-model="question.rating" step="1" min="1" max="10" aria-label="rating">
                     </md-slider>
                 </div>
             </md-content>
        </div>-->
                                                <!--</md-card-actions>-->

                                                <md-input-container class="md-block">
                                                    <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                                                    <label>Comments</label>
                                                    <input ng-model="question.comments">

                                                </md-input-container>
</md-card-content>
                                    </md-card>

                                </div>

                            </md-content>
                        </div>
                    </div>


                    <div class="row show-hide-animation" data-ng-hide="true">
                        <div class="col-md-4" data-ng-class="" data-ng-repeat="question in vm.questionlist | orderBy:'id'">
                            <div class="card cardHeight">
                                <div class="">
                                    <div class="clearfix">

                                        <div class="col-md-12 cardHeader">
                                            <div class="">{{question.name}}</div>
                                        </div>

                                        <div class="col-md-12">
                                            <div ng-controller="RatingDemoCtrl">
                                                <uib-rating ng-model="question.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                                                            titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                                                <span class="label" ng-class="{'label-warning': question.rating<3, 'label-info': question.rating>=3 && question.rating<7, 'label-success': question.rating>=7}"
                                                      ng-show="overStar">{{overStar || "none"}}</span>

                                            </div>
                                        </div>

                                        <!--<div class="col-md-12">
                                        <p class="ng-binding">Comments</p>
                                    </div>-->
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                                                <input ng-model="question.comments" type="email" placeholder="Comments" ng-required="false">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <!--<div class="row gridContainer customersTable show-hide-animation" >
                    <div class="col-md-12">
                        <div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Use Case#</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Name</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Score</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Comments</p>
                                </div>
                            </div>
                            <div class="row" data-ng-repeat="question in vm.questionlist">
                                <div class="col-md-3">
                                    <p>{{question.id}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>{{question.name}}</p>
                                </div>
                                <div class="col-md-3">
                                    <div ng-controller="RatingDemoCtrl">
                                        <uib-rating ng-model="question.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                                                    titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                                        <span class="label" ng-class="{'label-warning': question.rating<3, 'label-info': question.rating>=3 && question.rating<7, 'label-success': question.rating>=7}"
                                              ng-show="overStar">{{overStar || "none"}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <textarea ng-model="question.comments"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>-->
                </div>
                <div class="container">
                    <div class="row show-hide-animation" data-ng-show="vm.questionlist.length == 0">
                        <div class="col-span-12">
                            <h4>No Questions found</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-danger" data-ng-click="vm.saveRating()">Submit Rating</button>
                    </div>
                </div>
                <br /><br /><br />
        </div>
</div>

