﻿    <link href="Content/angular-material.min.css" rel="stylesheet" />

<style>
    .centerImg {
    margin: auto;
    width: 70%;

    padding: 10px;
}
    #parent {
    line-height: 7em;
}

#parent button {
    vertical-align: middle;
}
#divRating table{
    font-size:12px !important;
}
textarea[name=comments] {
    resize: none;
}
.textalign-right{
    text-align:right;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
 /**width: 100%;*/ 
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

</style>
<div class="view indent login-background">
    <div class="container">
        <div class="container">
           
           <!-- <header>
                <h4>Evaluation</h4>
            </header>-->
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#/ProductListing">Products  </a></li>
                    <li ng-if="vm.productId == '1'">SABA</li>
                    <li ng-if="vm.productId == '2'">CornerStone</li>
                    <li ng-if="vm.productId == '3'">SumTotal</li>
                       
                </ol>
            </div>

            <div class="statusRow">
                <br />
                <div class="label label-success" data-ng-show="vm.updateStatus">
                    <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Rating updated!
                </div>
            </div>
            <div class="statusRow">
                <br />
                <div class="label label-important" data-ng-show="vm.errorMessage">
                    <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                </div>
            </div>

            <div class="col-md-12">
                <div class="thumbnail">
                
                       <div class="carddemoBasicUsage" ng-hide="false">
                            <div class="col-md-12" style="background-image:url('/content/images/sc_bg1.jpg');background-size:100% 100%">
                                  <div flex-xs="" flex-gt-xs="50" layout="column">
                                        <div class="col-md-6" style="float:left">
                                            <div ng-if="vm.productId == '1'">
                                                <img ng-src="\Content\images\saba_200.png" alt="saba" style="max-width:100%" class="md-avatar">
                                            </div>
                                            <div ng-if="vm.productId == '2'">
                                                <img ng-src="\Content\images\Cornerstone2.png" alt="saba" style="max-width:100%" class="md-avatar">
                                            </div>
                                            <div ng-if="vm.productId == '3'">
                                                <img ng-src="\Content\images\Sumtotal1.png" alt="saba" style="max-width:100%" class="md-avatar">
                                            </div>
                                        </div>
                                         <div class="col-md-6" style="float:right;background-color:white" id="divRating">
                                            <p>Message from NEXTGENLMS Team</p><p>
                                            Welcome to the Evaluation. Below is the Rating Definition.
                                            click on <span class="glyphicon glyphicon-info-sign"></span> to check the criteria for each use case.
                                        </p>
                                             <div style="">
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Rating</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            10
                                                        </td>
                                                        <td>Meets all expectations/requirements</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            8 - 9
                                                        </td>
                                                        <td>Meets most of the expectations/requirements</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            5 - 7
                                                        </td>
                                                        <td>Meets partial expectations</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2 - 4
                                                        </td>
                                                        <td>MMeets very few expectations/requirements</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>Doesn't meet expectations at all</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                         </div>
                                 </div>
                            </div>
                        </div>
        
                        <div class="col-md-12" data-ng-class="">
                            <div>&nbsp</div>

                            

                            <div class="well well-sm rounded">
                                 <div>&nbsp</div>
                                <div style="text-align:center;">
                                     <select id="group" class="select text-center">
                                         <option>Select a Group</option>
                                         <option>TMS HR</option>
                                         <option>TFS </option>
                                         <option>TEMA & NAMCs</option>
                                         <option>Product Sales & Engagement (Sales & Fixed Ops)</option>
                                         <option>Dealer Technical (Toyota & Lexus)</option>
                                         <option>Collision & Parts (Toyota & Lexus)</option>
                                         <option>Lexus </option>
                                         <option>T-TEN</option>
                                         <option>Affiliates & NTL (Mexico)</option>
                                         <option>Affiliates & NTL (Puerto Rico)</option>
                                         <option>Legal & Compliance, Ethics, EH&S</option>
                                         <option>TTFO </option>
                                         <option>Application Engineering</option>
                                         <option>Knowledge Resources</option>
                                          <option>Don't Know</option>
                                    
                                    </select> 
                                </div>
                                 <div>&nbsp</div>

                                <div style="text-align:right;">
                                    <button class="md-raised md-button md-ink-ripple" style="margin-left:130px;" data-ng-click="vm.saveRating()" ><span class="ng-scope">Submit</span><div class="md-ripple-container"></div></button>
                                </div>

                                 <div class="row" data-ng-repeat="question in vm.questionlist | orderBy:'id'">


                        <div class="col-md-3 align-middle">
                            <div class="centerImg" ng-if="question.usercaseType != 'pdf'">
                                <!--<iframe class="" src='{{question.usecasePath}}' style="padding-top:2px;" frameborder="0" wmode="Opaque" allowfullscreen="" height="85"></iframe>-->
                                <video controls="controls" style="width: 200px;"><source src="{{question.usecasePath}}" type="video/mp4"></video>
                            </div>
                            <div class="centerImg" ng-if="question.usercaseType == 'pdf'">
                              <a href="Content/PDF/LMS_UseCase1.pdf" target="_blank" > <img ng-src="\Content\images\pdf_75.png" alt="pdf" style="max-width:100%" class="md-avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-4 align-middle">
                            <div>&nbsp;</div>
                            <div ng-controller="modalPopupCtrl" ng-cloak="">
                                <span class="md-subhead">{{question.name}}   </span>
                                <!--<span class="glyphicon glyphicon-info-sign" ng-click="showCustom($event,question)"></span>-->
                            </div>
                            <div ng-controller="RatingDemoCtrl">

                                <uib-rating style="color:#FFA500" ng-model="question.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                                            titles="['Does not meet expectations at all','Meets very few expectations/requirements','Meets very few expectations/requirements',
                                                        'Meets very few expectations/requirements','Meets partial expectations','Meets partial expectations',
                                                        'Meets partial expectations','Meets most of the expectations/requirements','Meets most of the expectations/requirements','Meets all expectations/requirements']"
                                            aria-labelledby="default-rating"></uib-rating>
                                <span class="label" ng-class="{'label-warning': question.rating<3, 'label-info': question.rating>=3 && question.rating<7, 'label-success': question.rating>=7}"
                                        ng-show="overStar">{{overStar || "none"}}</span>

                            </div>
                             <div ng-cloak="">
                              
                            </div>
                        </div>
                        <div class="col-md-3 align-middle">
                            <md-input-container class="md-block">
                                <label>Comments</label>
                                <input ng-model="question.comments">
                            </md-input-container>
                            <!--<div >
                            <label for="comment"></label>
                            <textarea class="form-control" rows="3" ng-model="question.comments" name="comments"></textarea>
                        </div>-->


                        </div>
                        <div class="col-md-2" id="parent">

                            <button class="md-raised md-button md-ink-ripple" data-ng-click="vm.saveRow(this)"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button>
                        </div>

                        <md-divider inset=""></md-divider>
                    </div>
                            </div>   
                        </div>

                </div>
            </div>

         


        </div>
                <div class="container">
                    <div class="row show-hide-animation" data-ng-show="vm.questionlist.length == 0">
                        <div class="col-span-12">
                            <h4>No Questions found</h4>
                        </div>
                    </div>
                </div>
               
                <br /><br /><br />
        </div>
</div>
